In [16]:
import pandas as pd
import numpy as np

# DataFrames

In [17]:
df1 = pd.DataFrame(np.array([[3, 5, None], [3, 7, 8], [5, None, 6]]),
                  columns=['A', 'B', 'C'])
df1

   A     B     C
0  3     5  None
1  3     7     8
2  5  None     6

In [18]:
df2 = pd.DataFrame(np.array([[5, 5, 7], [13, 8, 9], [4, None, 3]]),
                  columns=['X', 'Y', 'Z'])
df2

    X     Y  Z
0   5     5  7
1  13     8  9
2   4  None  3

# Dropping columns

In [19]:
# by name
df1 = df1.drop(['C'], axis=1)
df1

   A     B
0  3     5
1  3     7
2  5  None

In [20]:
# by index
df2 = df2.drop(df2.columns[0], axis='columns')
df2

      Y  Z
0     5  7
1     8  9
2  None  3

# Combining DataFrames

In [21]:
# Full list of operations:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [23]:
df3 = pd.concat([df1, df2], axis=1)
df3

   A     B     Y  Z
0  3     5     5  7
1  3     7     8  9
2  5  None  None  3