In [1]:
import pandas as pd
import numpy as np

In [2]:
# The goal is to replace all the NAs of a DataFrame with the mean or median values

df = pd.DataFrame(np.array([[3, 5, None], [3, 7, 8], [5, None, 6]]),
                  columns=['A', 'B', 'C'])

In [3]:
df.head()

   A     B     C
0  3     5  None
1  3     7     8
2  5  None     6

In [58]:
def mreplace(df, lvar=0):
    if lvar == 0:
        dfr = df.apply(lambda x: x.fillna(x.mean()),axis=0)
        return dfr
    elif lvar == 1:
        dfr = df.apply(lambda x: x.fillna(x.median()),axis=0)
        return dfr
    else:
        dfr = df.apply(lambda x: x.fillna(x.mean()),axis=0)
        return dfr

In [60]:
df_replaced = mreplace(df, 0)
df_replaced.head()

   A    B    C
0  3  5.0  7.0
1  3  7.0  8.0
2  5  6.0  6.0