In [1]:
import pandas as pd
import numpy as np

In [2]:
# We want one function that groups medical data by nutritional status

df = pd.DataFrame(np.array([["vegetarian", 1, 2, 1, 1],
                            ["omnivore", 4, 1, 3, 1],
                            ["omnivore", 7, 2, 4, 2],
                            ["vegetarian", 1, 3, 3, 2],
                            ["vegan", 1, 1, 1, 2]]),
                  columns=['nutrition', 'B', 'C', 'D', 'E'])

In [3]:
# transforming types
df.B = pd.to_numeric(df.B)
df.C = pd.to_numeric(df.C)
df.D = pd.to_numeric(df.D)
df.E = pd.to_numeric(df.E)

In [4]:
# group by mean
df.groupby(['nutrition']).mean()

              B    C    D    E
nutrition
omnivore    5.5  1.5  3.5  1.5
vegan       1.0  1.0  1.0  2.0
vegetarian  1.0  2.5  2.0  1.5

In [5]:
# DataFrame for multi-level grouping
df = pd.DataFrame(np.array([["vegetarian","male", 1, 2, 1, 1],
                            ["omnivore", "male", 4, 1, 3, 1],
                            ["omnivore", "female", 7, 2, 4, 2],
                            ["vegetarian", "female", 1, 3, 3, 2],
                            ["vegan", "female", 1, 1, 1, 2]]),
                  columns=['nutrition', "sex", 'B', 'C', 'D', 'E'])

In [6]:
# transforming types
df.B = pd.to_numeric(df.B)
df.C = pd.to_numeric(df.C)
df.D = pd.to_numeric(df.D)
df.E = pd.to_numeric(df.E)

In [9]:
df.groupby(['nutrition', 'sex']).mean()

                   B  C  D  E
nutrition  sex
omnivore   female  7  2  4  2
           male    4  1  3  1
vegan      female  1  1  1  2
vegetarian female  1  3  3  2
           male    1  2  1  1